@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-width: 1160px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background-color: #ffe17f;
}

.page-header::before {
  content: "";
  display: block;
  width: 100%;
  height: 40px;
  background-color: #ffffff;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 18px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.paragraph {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.product-cart-title {
  grid-column: 1/3;
  margin: 0;
  margin-bottom: 29px;
  padding-top: 123px;
  z-index: 1;
}

.promoted-product-card-description {
  grid-column: 1/3;
  padding: 0;
  margin: 0;
  margin-bottom: 36px;
}

.button-product-show-details {
  text-align: center;
  padding-top: 14px;
  padding-bottom: 16px;
  width: 220px;
  min-height: 50px;
}

.main-container {
  flex-grow: 1;
}

.main-inner {
  padding-top: 38px;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.page-header-inner {
  padding-bottom: 37px;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 1041px;
  margin: 0 auto;
}

.navigation-logo {
  position: relative;
  width: 145px;
  margin-bottom: 39px;
  margin-left: 1px;
}

.logo {
  position: absolute;
  top: -23px;
}

.search-icon {
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/lens.svg");
  background-repeat: no-repeat;
}

.popover {
  display: none;
  position: absolute;
  min-width: 100px;
  min-height: 100px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
  background-color: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.popover-open {
  display: block;
}

.popover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 14px;
  height: 6px;
  padding: 12px 12px 0;
  background: url("../img/cart-pin.svg") no-repeat center bottom;
}

.popover-cart {
  width: 320px;
  left: -133px;
  margin-top: 4px;
  margin-left: 7px;
  z-index: 3;
}

.popover-content {
  display: flex;
  flex-direction: column;
  min-height: 135px;
}

.cart-product-list {
  margin-left: 20px;
  margin-right: 13px;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 20px;
  list-style-type: none;
}

.cart-product-list-item {
  display: flex;
  margin-bottom: 41px;
}

.cart-product-list-item:last-of-type {
  margin-bottom: 0;
}

.cart-product-list-item:hover {
  opacity: .6;
}

.cart-product-list-item:active {
  opacity: .3;
}

.cart-product-image {
  display: block;
  order: -1;
  margin-right: 23px;
}

.cart-product-item-link {
  display: block;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  max-width: 180px;
  padding-top: 2px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.cart-product-item-link:focus {
  outline: none;
  color: #af4fff;
}

.cart-product-item-link:focus + .cart-product-image {
  outline: 5px solid #af4fff;
}

.cart-product-item-link:focus ~ .cart-product-delete-button {
  outline: none;
  border: 2px solid #af4fff;
}

.cart-product-item-link:not(:focus-visible) {
  outline: none;
  color: #ffffff;
}

.cart-product-item-link:not(:focus-visible) + .cart-product-image {
  outline: none;
}

.cart-product-item-link:not(:focus-visible) ~ .cart-product-delete-button {
  outline: none;
  border: 2px solid transparent;
}

.cart-product-item-link:focus-visible {
  outline: none;
  color: #af4fff;
}

.cart-product-item-link:focus-visible + .cart-product-image {
  outline: 5px solid #af4fff;
}

.cart-product-item-link:focus-visible ~ .cart-product-delete-button {
  outline: none;
  border: 2px solid #af4fff;
}

.cart-product-delete-button {
  position: relative;
  margin: 0;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: 2px solid transparent;
  border-radius: 50%;
}

.cart-product-delete-button::before {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) rotate(45deg);
}

.cart-product-delete-button::after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.cart-product-delete-button:active {
  opacity: .3;
}

.cart-summary-table {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  margin-top: auto;
  min-height: 44px;
  align-items: center;
  background-color: #1a1a1a;
  word-wrap: break-word;
}

.cart-property {
  margin-right: 5px;
  max-width: 80px;
  text-align: left;
}

.cart-property-value + .cart-property {
  margin-left: auto;
}

.cart-property-value:not(:last-of-type) {
  padding-right: 5px;
}

.cart-property-value {
  margin: 0;
  max-width: 55px;
}

.main-menu-text {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.popover-cart-button {
  width: 280px;
  min-height: 50px;
  align-self: center;
  color: #000000;
  background-color: #ffffff;
  margin-bottom: 21px;
  border: none;
  padding: 0;
  padding-left: 5px;
  cursor: pointer;
}

.popover-cart-button:hover {
  background-color: #ffe17f;
}

.popover-cart-button:focus {
  outline: 5px solid #af4fff;
}

.popover-cart-button:not(:focus-visible) {
  outline: none;
}

.popover-cart-button:focus-visible {
  outline: 5px solid #af4fff;
}

.popover-cart-button:active {
  color: rgba(0, 0, 0, .3);
}


.main-menu-list {
  position: relative;
  left: -20px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 1082px;
  list-style-type: none;
}

.user-menu-list {
  position: relative;
  left: -16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1078px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  list-style-type: none;
}

.user-menu-item {
  min-height: 40px;
}

/* Login/Logout submenu */
.user-menu-item:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  width: 257px;
  margin-left: 20px;
  margin-right: 2px;
}

.user-menu-item:last-child {
  position: relative;
  text-align: right;
  margin-left: auto;
}

.site-search-form {
  display: flex;
  width: 516px;
  position: relative;
}

.site-search-form::before {
  position: absolute;
  content: "";
  display: block;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("../img/lens.svg");
  background-repeat: no-repeat;
}

.button-search {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  height: 40px;
  overflow: auto;
  width: 160px;
  padding: 8px;
  margin: 0;
  border: 2px solid #000000;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.input-site-search {
  position: relative;
  flex-grow: 1;
  min-width: 140px;
  width: 356px;
  height: 40px;
  padding: 0;
  padding-left: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: rgba(0, 0, 0, .3);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 20px 0 0 20px;
}

.input-site-search:focus {
  outline: none;
  color: rgba(0, 0, 0, .3);
  border-color: #000000;
}

.input-site-search:hover {
  color: rgba(0, 0, 0, .6);
}

.input-site-search:active {
  color: rgba(0, 0, 0, 1);
}

.input-site-search:disabled {
  color: #b3b3b3;
  background-color: rgba(255, 225, 127, 0.2);
}

.input-site-search::placeholder {
  opacity: inherit;
  color: inherit;
}

.input-site-search:not(:placeholder-shown) {
  color: rgba(0, 0, 0, 1);
  border: 2px solid rgba(0, 0, 0, 1);
  border-right: none;
}

.input-site-search:placeholder-shown:focus {
  border: 2px solid #af4fff;
  border-radius: 20px;
}

.input-site-search:placeholder-shown + .button-search {
  display: none;
}

.button-search:focus {
  outline: none;
  border-color: #af4fff;
}

.button-search:hover {
  background-color: #000000;
  color: #ffffff;
}

.button-search:active {
  background-color: #000000;
  color: rgba(255, 255, 255, .3);
  border: none;
}

.button-search:disabled {
  color: #b3b3b3;
  background-color: rgba(255, 225, 127, 0.2);
  cursor: auto;
}

/* IE 11*/

.input-site-search:-ms-input-placeholder + .button-search {
  display: none;
}

.input-site-search:not(:-ms-input-placeholder) {
  border: 2px solid rgba(0, 0, 0, 1);
  border-right: none;
}

.input-site-search:-ms-input-placeholder:focus {
  border: 2px solid #af4fff;
  border-radius: 20px;
}

/* clears the ‘X’ from Internet Explorer */
.input-text[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.input-text[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
.input-text[type="search"]::-webkit-search-decoration,
.input-text[type="search"]::-webkit-search-cancel-button,
.input-text[type="search"]::-webkit-search-results-button,
.input-text[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* The attributes are taken from the parent block */
.input-text {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: inherit;
}

.user-menu-link {
  display: block;
  align-items: baseline;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 19px;
  padding-right: 21px;
  max-width: 250px;
  border-radius: 20px;
  border: 2px solid transparent;
  color: #000000;
  background-color: #ffe17f;
  text-decoration: none;
}

.navigation-icon {
  display: inline-block;
  margin-right: 10px;
  background-repeat: no-repeat;
}

.user-menu-link:hover {
  opacity: .6;
}

.user-menu-link:focus {
  outline: none;
  border: 2px solid #af4fff;
}

.user-menu-link:active {
  opacity: .3;
  outline: none;
}

.menu-link-login .navigation-icon {
  width: 13px;
  height: 12px;
  margin-right: 12px;
  background-image: url("../img/user.svg");
}

.menu-link-compare .navigation-icon {
  width: 10px;
  height: 12px;
  background-image: url("../img/compare.svg");
}

.menu-link-cart .navigation-icon {
  position: relative;
  width: 16px;
  height: 14px;
  background-image: url("../img/cart.svg");
}

.menu-link-cart .navigation-icon::before {
  position: absolute;
  content: "2";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  background-color: #ffffff;
  border-radius: 50%;
  right: 10px;
  top: 9px;
  margin-top: -11px;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}

.logout-link {
  opacity: .3;
  margin-left: -16px;
}

.main-menu-link {
  position: relative;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  max-width: 270px;
  padding-top: 14px;
  padding-bottom: 15px;
  padding-right: 17px;
  padding-left: 20px;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  border-radius: 25px;
}

.main-menu-link:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #af4fff;
  border-color: #af4fff;
}

.main-menu-link:active {
  opacity: .3;
  box-shadow: none;
}

.main-menu-link:active::after {
  opacity: .3;
}

.main-submenu {
  position: absolute;
  display: none;
  flex-wrap: wrap;
  align-content: flex-start;
  line-height: 18px;
  min-height: 180px;
  top: 100%;
  left: -39.5px;
  padding: 0;
  padding-left: 43px;
  padding-top: 29px;
  padding-bottom: 32px;
  margin: 0;
  background-color: #ffe17f;
  list-style-type: none;
}

.main-submenu-item {
  margin-right: 12px;
  min-width: 190px;
}

.main-submenu:hover,
.main-menu-item:first-child:focus-within .main-submenu,
.main-menu-item:first-child .main-menu-link:hover + .main-submenu {
  display: flex;
}

.main-submenu-item-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-submenu-list-item {
  margin-bottom: 6px;
}

.main-submenu-link {
  display: block;
  font-size: 16px;
  line-height: 18px;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
  border: 2px solid transparent;
  color: #000000;
  text-decoration: none;
}

.main-submenu-link:hover {
  opacity: .6;
}

.main-submenu-link:focus {
  outline: none;
  border: 2px solid #af4fff;
}

.main-submenu-link:not(:focus-visible) {
  border: 2px solid transparent;
}

.main-submenu-link:focus-visible {
  outline: none;
  border: 2px solid #af4fff;
}

.main-submenu-link:active {
  opacity: .3;
}

.main-menu-item {
  width: 140px;
  margin-right: 19px;
}

.main-menu-item.sub-menu {
  position: relative;
  z-index: 2;
}

.main-menu-item:first-child {
  width: 520px;
  margin-right: 20px;
}

.main-menu-item:nth-of-type(n+4) {
  margin-left: auto;
}

.main-menu-item:last-child {
  margin-left: auto;
  margin-right: 0;
  width: fit-content;
}

.main-menu-item.sub-menu .main-menu-link::after {
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -25px;
  display: inline-block;
  content: "";
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-image: url("../img/catalog-expand-20.svg");
  background-position: center;
  background-color: transparent;
}

.main-menu-item:first-child .main-menu-link:hover::after {
  background-image: url("../img/catalog-expand.svg");
  background-color: transparent;
}

.main-menu-link:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 7px;
  left: 20px;
  right: 20px;
  background-color: #000000;
}

.promoted-products {
  margin-bottom: 70px;
}

.product-card-annotation {
  display: none;
  position: relative;
  grid-template-columns: min-content auto;
  column-gap: 200px;
  grid-template-rows: min-content min-content min-content min-content;
  margin-left: 40px;
}

.slider-number-background {
  position: absolute;
  right: 50px;
  top: 30px;
  width: 250px;
  height: 135px;
  overflow: hidden;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 180px;
  line-height: 135px;
  text-align: right;
  color: #ffffff;
}

.promoted-product-card.item-current .product-card-annotation {
  display: grid;
}

.button-services {
  border: none;
  width: 160px;
  min-height: 40px;
  padding: 0;
  padding-top: 9px;
  padding-bottom: 10px;
}

.services-slider-pagination-item.item-current .button-services {
  box-shadow: 120px 0 0 0 #000000;
}

.services-slider-pagination-item.item-current .navigation-link {
  background-color: #000000;
  color: #ffe17f;
  background-image: none;
}

.services-slider-pagination-item {
  position: relative;
  margin-bottom: 25px;
}

.services-slider-pagination-item:last-of-type {
  margin-bottom: 0;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: inherit;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 1;
  cursor: pointer;
}

/*noinspection CssOverwrittenProperties,Stylelint*/
.navigation-link-light-yellow {
  background-image: linear-gradient(top, rgba(255, 255, 255, 0) 42%, #ffe17f 42%, #ffe17f 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0) 42%, #ffe17f 42%, #ffe17f 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0) 42%, #ffe17f 42%, #ffe17f 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 42%, #ffe17f 42%, #ffe17f 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
}

.navigation-link-light-yellow:hover {
  background-color: #ffe17f;
}

/*noinspection CssOverwrittenProperties,Stylelint*/
.navigation-link-light-yellow:focus {
  outline: none;
  background-image: linear-gradient(top, rgba(255, 255, 255, 0) 42%, #af4fff 42%, #af4fff 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0) 42%, #af4fff 42%, #af4fff 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0) 42%, #af4fff 42%, #af4fff 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 42%, #af4fff 42%, #af4fff 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
}

/*noinspection CssOverwrittenProperties,Stylelint*/
.navigation-link-dark-yellow {
  background-image: linear-gradient(top, rgba(255, 255, 255, 0) 42%, #ffc700 42%, #ffc700 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0) 42%, #ffc700 42%, #ffc700 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0) 42%, #ffc700 42%, #ffc700 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 42%, #ffc700 42%, #ffc700 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
}

.navigation-link-dark-yellow:hover {
  background-color: #ffc700;
}

/*noinspection CssOverwrittenProperties,Stylelint*/
.navigation-link-dark-yellow:focus {
  outline: none;
  background-image: linear-gradient(top, rgba(255, 255, 255, 0) 42%, #af4fff 42%, #af4fff 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0) 42%, #af4fff 42%, #af4fff 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0) 42%, #af4fff 42%, #af4fff 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 42%, #af4fff 42%, #af4fff 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
}

.navigation-link:active {
  color: rgba(0, 0, 0, .3);
  background-image: none;
}

.product-feature-name {
  font-size: 16px;
  line-height: 30px;
}

.product-card-feature-value {
  grid-row: 1/2;
  margin: 0;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  margin-right: 57px;
  min-width: 100px;
}

/*noinspection CssOverwrittenProperties,Stylelint*/
.services {
  min-width: 1160px;
  margin-bottom: 90px;
  padding-top: 80px;
  padding-bottom: 126px;
  background-image: linear-gradient(top, #ffffff 100px, #f0f0f0 0);
  background-image: linear-gradient(top, #ffffff 100px, #f0f0f0 0);
  background-image: linear-gradient(top, #ffffff 100px, #f0f0f0 0);
  background-image: linear-gradient(to bottom, #ffffff 110px, #f0f0f0 0);
}

.services-container {
  display: flex;
  position: relative;
}

.services-container::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 319px;
  left: 277px;
  top: -70px;
  background-color: #000000;
}

.services-slider-pagination {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
  width: 280px;
  margin: 0;
  margin-right: 120px;
  padding: 0;
  padding-top: 10px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-list-item {
  display: none;
  width: 500px;
}

.services-list-item.item-current {
  display: block;
}

.services-list-item-image-delivery::after {
  content: url("../img/service-delivery-man.svg");
  position: absolute;
  width: 136px;
  height: 164px;
  right: 64px;
  top: 14px;
}

.services-list-item-image-credit::after {
  content: url("../img/service-credit.svg");
  position: absolute;
  width: 156px;
  height: 188px;
  right: 70px;
  top: -8px;
}

.services-list-item-image-warranty::after {
  content: url("../img/service-warranty.svg");
  position: absolute;
  width: 171px;
  height: 195px;
  right: 47px;
  top: -8px;
}

.services-image {
  position: absolute;
  right: 64px;
  top: 14px;
}

.services-title {
  margin: 0;
  margin-bottom: 34px;
}

.about-sections-title {
  margin: 0;
  margin-bottom: 46px;
}

.text-container {
  margin-bottom: 45px;
}

.categories {
  margin-bottom: 51px;
}

.categories-list-item-link {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

.categories-list-item-link:hover .category-background {
  background-color: #ffc700;
}

.categories-list-item-link:focus {
  outline: none;
}

.categories-list-item-link:focus .category-background::after {
  box-shadow: inset 0 0 0 5px #af4fff;
}

.categories-list-item-link:focus .category-name {
  color: #af4fff;
}

.categories-list-item-link:active .category-background::after {
  opacity: .3;
}

.categories-list-item-link:active .category-name {
  opacity: .3;
  color: #000000;
}

.categories-list-item-link:active .category-background {
  border: none;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  column-gap: 40px;
}

.category-name {
  width: 160px;
}

.category-background {
  position: relative;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background-color: #ffe17f;
}

.category-background::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.category-background.align-bottom::after {
  background-position: center bottom;
}


.category-background.vr::after {
  background-image: url("../img/category-vr.svg");
}

.category-background.mono::after {
  background-image: url("../img/category-monopod.svg");
}

.category-background.camera::after {
  background-image: url("../img/category-camera.svg");
}

.category-background.fit-bracelet::after {
  background-image: url("../img/category-fit-bracelet.svg");
}

.category-background.smart-watch::after {
  background-image: url("../img/category-smart-watch.svg");
}

.category-background.copter::after {
  background-image: url("../img/category-copter.svg");
}

.category-background.align-bottom {
  align-items: flex-end;
}

.about {
  margin-bottom: 58px;
}

.shipping-info {
  position: relative;
  display: flex;
  width: 1160px;
  align-items: center;
  min-height: 100px;
  margin-top: 0;
  margin-bottom: 97px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f0f0;
}

.shipping-info-left-column {
  position: relative;
  display: inline-block;
  width: 125px;
  height: 100px;
  background-color: #ffe17f;
  background-repeat: no-repeat;
  background-size: 47px 31px;
  background-position: center;
}

.shipping-info-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  fill: #000000;
}

.shipping-info-info .shipping-info-icon {
  opacity: .3;
}

.shipping-info-link {
  display: block;
  text-decoration: none;
}

.shipping-info-link:hover .shipping-info {
  background: #ebebeb;
}

.shipping-info-link:hover .shipping-info-left-column {
  background-color: #ffc700;
}

.shipping-info-link:hover .shipping-info-icon {
  opacity: 1;
}

.shipping-info-link:hover .shipping-info-info {
  background-color: #dcdcdc;
}

.shipping-info-link:focus .shipping-info {
  outline: 5px solid #af4fff;
}

.shipping-info-link:active .shipping-info-text {
  color: rgba(0, 0, 0, .3);
}

.shipping-info-link:active .shipping-info-icon {
  opacity: .3;
}

.shipping-info-link:active .shipping-info-info {
  background-color: #dcdcdc;
}

.shipping-info-info {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 33px;
  top: 30px;
  border-radius: 50%;
  background: rgba(220, 220, 220, 0.5);
}

.shipping-info-text {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  max-width: 80%;
  color: #000000;
  margin: 0 auto;
  padding: 0;
  padding-right: 120px;
}

.shipping-companies-list {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-left: 34px;
  margin-bottom: 58px;
  list-style-type: none;
}

.shipping-companies-item {
  position: relative;
  margin-bottom: 20px;
}

.shipping-companies-item:last-of-type {
  margin-bottom: 0;
}

.shipping-companies-item::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  left: -34px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
  background-color: #ffc700;
}

.about-info-link {
  align-self: flex-start;
  margin-top: auto;
  text-align: center;
  width: 260px;
  padding-top: 14px;
  padding-bottom: 16px;
}

.about-info-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  list-style-type: none;
}

.about-info-text {
  margin: 0;
  margin-bottom: 30px;
}

.about-info-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 560px;
  padding-top: 49px;
  margin-bottom: 12px;
}

.about-info-item::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #000000;
  top: 0;
  left: 0;
}

.contacts-sub-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.address-text {
  font-style: normal;
  display: inline-block;
}

.about-info-text .contacts-phone {
  left: -15px;
  text-decoration: underline;
}

.footer-phone .contacts-phone {
  right: -15px;
}

.contacts-phone {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  height: 27px;
  padding-left: 15px;
  padding-right: 15px;
}

.contacts-phone:hover {
  color: #ffc700;
}

.contacts-phone:focus {
  outline: 2px solid #af4fff;
  border-radius: 25px;
}

.contacts-phone:active {
  opacity: .3;
}

.about-info-schedule-table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.about-info-schedule-table td {
  padding: 0;
  max-width: fit-content;
  display: inline-block;
}

.about-info-schedule-table td:first-of-type {
  margin-right: 5px;
}

.newsletter {
  padding-top: 76px;
  padding-bottom: 130px;
  background-color: #f0f0f0;
  min-width: 1160px;
}

.newsletter-section {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.newsletter-section:last-child {
  margin-bottom: 0;
}

.promoted-product-image-container {
  display: none;
  position: relative;
  width: 560px;
  height: 560px;
}

.promoted-product-card.item-current .promoted-product-image-container {
  display: flex;
}

.slider-image {
  display: block;
}

.promoted-product-card-list {
  margin: 0;
  padding: 0;
}

.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.slider-button {
  border: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 40px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.slider-button:hover {
  opacity: .6;
}

.slider-button:focus {
  outline: none;
  border: 2px solid #af4fff;
  border-radius: 6px;
}

.slider-button:active {
  opacity: .3;
  border: none;
}

.slider-button-prev {
  margin-left: 10px;
  background-image: url("../img/left-tall-arrow.svg");
}

.slider-button-next {
  margin-right: 10px;
  background-image: url("../img/left-tall-arrow.svg");
  transform: rotate(180deg);
}

.slider-controls.low .slider-button-prev {
  background-image: url("../img/left-tallest-arrow.svg");
}

.slider-controls.low .slider-button-next {
  background-image: url("../img/left-tallest-arrow.svg");
  transform: rotate(180deg);
}

.slider-controls.low {
  top: 61%;
}

/*noinspection CssOverwrittenProperties,Stylelint*/
.promoted-product-card {
  display: flex;
  background-image: linear-gradient(bottom, #ffe17f 152px, #ffffff 0);
  background-image: linear-gradient(bottom, #ffe17f 152px, #ffffff 0);
  background-image: linear-gradient(bottom, #ffe17f 152px, #ffffff 0);
  background-image: linear-gradient(to bottom, #ffe17f 152px, #ffffff 0);
}

.newsletter-title {
  width: 560px;
  margin: 0;
  margin-right: 40px;
}

.newsletter-text {
  width: 560px;
  margin: 0;
  margin-top: 11px;
}

.newsletter-form {
  display: flex;
}

.input-email {
  padding: 0;
  padding-top: 4px;
  width: 601px;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, .1);
  background-clip: padding-box;
}

.input-email:hover {
  border-color: rgba(0, 0, 0, .2);
}

.input-email:focus {
  outline: none;
  background-color: #dcdcdc;
}

.input-email:disabled {
  color: rgb(250, 249, 249);
  background-color: rgb(229, 227, 227);
}

.input-email::placeholder {
  color: rgba(0, 0, 0, .5);
}

.input-email:hover::placeholder {
  color: rgba(0, 0, 0, .7);
}

.input-email:not(:placeholder-shown) {
  border-color: #000000;
}

/* IE 11*/
.input-email:not(:-ms-input-placeholder) {
  border: 2px solid rgba(0, 0, 0, 1);
  border-right: none;
}

/* add 'invalid' class in case of validation errors */
.input-email.invalid {
  border-color: #ff3d3d;
}

.button-newsletter {
  width: 260px;
  min-height: 55px;
  margin-right: 171px;
  border: 3px solid rgba(0, 0, 0, 0.1);
}

.button-newsletter:hover {
  background-color: #000000;
  color: #ffffff;
}

.button-newsletter:focus {
  outline: none;
  border-color: #af4fff;
}

.button-newsletter:active {
  background-color: #000000;
  color: rgba(155, 155, 155, .3);
}

.button-newsletter:disabled {
  color: #b3b3b3;
  background-color: rgba(155, 155, 155, 0.3);
  cursor: auto;
}

.button-pagination-show-more {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  width: 760px;
  height: 55px;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 0 10px;
  margin-top: 0;
  margin-bottom: 51px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid rgba(0, 0, 0, 0.1);
  background: inherit;
  cursor: pointer;
}

.button-pagination-show-more:hover {
  border-color: #000000;
}

.button-pagination-show-more:focus {
  outline: none;
  border: 5px solid #af4fff;
}

.button-pagination-show-more:active {
  border: 3px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.newsletter-note {
  background-color: inherit;
  position: relative;
}

.newsletter-note::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-image: url("../img/check-mark-big.svg");
  left: -34px;
  top: 50%;
  margin-top: -7px;
}

.footer-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: baseline;
  width: 1160px;
  row-gap: 50px;
  padding-top: 124px;
  padding-bottom: 61px;
  margin-left: auto;
  margin-right: auto;
}

.footer-container::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  left: 0;
  bottom: 82px;
  background-color: #ffc700;
}

.footer-htmlacademy-link {
  position: absolute;
  padding: 10px;
  right: -10px;
  bottom: 58px;
}

.footer-htmlacademy-logo {
  fill: #ffc700;
  display: block;
}

.footer-htmlacademy-link:hover .footer-htmlacademy-logo {
  fill: #ffffff;
}

.footer-htmlacademy-link:focus {
  outline: 2px solid #af4fff;
  border-radius: 10px;
}

.footer-htmlacademy-link:active .footer-htmlacademy-logo {
  opacity: .3;
}

.page-footer {
  min-width: 1160px;
  color: #ffffff;
  background: #444444;
}

.footer-address {
  width: 240px;
  font-size: 16px;
  line-height: 19px;
  align-self: end;
}

.footer-contacts-logo {
  display: block;
  width: 145px;
  height: 36px;
  position: absolute;
  top: 62px;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  min-width: 620px;
  margin: 0;
  padding: 0;
  padding-right: 15px;
}

.footer-navigation-item {
  width: 148px;
  word-wrap: break-word;
  margin-right: 7px;
}

.footer-navigation-item:last-of-type {
  margin-right: 0;
}

.footer-navigation-item .main-menu-link:hover {
  color: #ffc700;
}

.footer-navigation-item .main-menu-link:hover::after {
  background-color: #ffc700;
}

.footer-navigation-item .main-menu-link {
  max-width: 180px;
}

.social {
  grid-column: 1/-1;
  max-width: 470px;
  justify-self: center;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  column-gap: 15px;
  row-gap: 10px;
}

.social-item-link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.social-item-link:hover {
  background-color: #ffc700;
}

.social-item-link:focus {
  outline: 5px solid #af4fff;
}

.social-item-link:active .social-item-icon {
  opacity: .3;
}

.social-item-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #444444;
}

.social-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-phone {
  font-size: 16px;
  line-height: 30px;
  text-align: right;
}

.breadcrumbs {
  position: relative;
  left: -13px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  column-gap: 10px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item + .breadcrumbs-item::before {
  position: absolute;
  content: "";
  display: block;
  width: 4px;
  height: 7px;
  background-image: url("../img/right-arrow-small.svg");
  left: -9px;
  top: 50%;
  margin-top: -2px;
}

.breadcrumbs-item-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  opacity: 0.6;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 13px;
  padding-right: 12px;
  cursor: pointer;
}

.breadcrumbs-item-link:hover {
  opacity: 1;
}

.breadcrumbs-item-link:focus {
  outline: 5px solid #af4fff;
}

.breadcrumbs-item-link:active {
  outline: none;
  opacity: .3;
}

.breadcrumbs-item-link.link-current {
  cursor: auto;
}

.breadcrumbs-item-link:focus.link-current {
  outline: none;
}

.breadcrumbs-item-link:active.link-current {
  opacity: 1;
}

.main-header-inner-container {
  margin-left: 60px;
  margin-bottom: 43px;
}

.catalog-right-column {
  grid-column: 3/4;
  grid-row: 1/3;
}

.catalog-products {
  display: grid;
  grid-template-columns: 1fr 330px 830px 1fr;
  grid-template-rows: auto 1fr;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 0;
  margin: 0;
  margin-bottom: 41px;
}

.product-card-slider-pagination {
  display: flex;
  flex-wrap: wrap;
  grid-column: 2/3;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-card-slider-pagination-item {
  display: flex;
  align-items: center;
}

.product-card-slider-pagination-item:not(:last-of-type) {
  margin-right: 22px;
}

.product-card-slider-pagination-button {
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.product-card-slider-pagination-item.item-current .product-card-slider-pagination-button {
  background-color: #000000;
}

.product-card-slider-pagination-button:hover {
  opacity: .6;
}

.product-card-slider-pagination-button:focus {
  outline: none;
  border: 2px solid #af4fff;
}

.product-card-slider-pagination-button:active {
  opacity: .3;
}


.more-info-link {
  position: absolute;
  display: none;
  width: 180px;
  min-height: 40px;
  height: fit-content;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  line-height: 40px;
}

.more-info-link:focus {
  background-image: none;
}

.product-card-item {
  width: 360px;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 380px min-content;
  row-gap: 30px;
}

.product-card-item:hover .product-card-image {
  opacity: .3;
}

.product-card-item:hover .more-info-link {
  display: block;
}

.product-card-title-link:focus + .product-card-image-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 0 5px #af4fff;
}

.product-card-title-link:focus ~ .product-card-price,
.product-card-title-link:focus {
  outline: none;
  color: #af4fff;
}

.catalog-container {
  grid-column: 3/4;
  grid-row: 2/3;
  width: 760px;
  padding-top: 70px;
  margin-left: 70px;
  background-color: #ffffff;
}

.product-card-features {
  display: grid;
  row-gap: 10px;
  grid-column: 1/3;
  grid-row: 5/6;
  justify-self: start;
  margin-left: 0;
  margin-right: 0;
  margin-top: 54px;
  margin-bottom: 40px;
  padding: 0;
}

.catalog-left-top-column {
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: #dcdcdc;
}

.catalog-products::before {
  content: "";
  display: block;
  background-color: #ebebeb;
  grid-column: 1/2;
  grid-row: 2/-1;
}

.catalog-products::after {
  content: "";
  display: block;
  grid-column: 4/-1;
  grid-row: 1/2;
  background-color: #ebebeb;
}

.catalog-filter {
  position: relative;
  background: #ebebeb;
  color: #000000;
  padding-left: 60px;
  padding-right: 69px;
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.catalog-filter::before {
  content: "";
  position: absolute;
  top: 70px;
  left: 60px;
  height: 2px;
  width: 200px;
  background-color: #000000;
}

.catalog-form-title {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  padding-left: 60px;
  padding-top: 25px;
  padding-bottom: 26px;
}

.catalog-sorting-title {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  max-width: 310px;
  margin: 0;
  margin-right: 36px;
  padding-top: 25px;
  padding-bottom: 26px;
}

.sorting-header-container {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ebebeb;
}

.catalog-sorting-type {
  display: flex;
  align-items: center;
  margin-left: 70px;
  margin-right: auto;
  background-color: #ebebeb;
}

.button-sort {
  position: relative;
  width: 30px;
  height: 30px;
}

.button-sort + .button-sort {
  margin-right: -9px;
}

.sort-up {
  background-image: url("../img/sort-down.svg");
  transform: rotate(180deg);
}

.sort-down {
  background-image: url("../img/sort-down.svg");
}

.sort-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .2;
}

.button-sort.button-active .sort-icon {
  opacity: 1;
}

.button-sort:hover .sort-icon {
  opacity: .5;
}

.button-sort:active .sort-icon {
  opacity: 1;
}

.button-sort:focus {
  outline: 5px solid #af4fff;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  min-height: 30px;
  max-width: 310px;
  text-overflow: ellipsis;
  padding-top: 4px;
  padding-bottom: 7px;
  padding-left: 13px;
  padding-right: 41px;
  /*noinspection Stylelint*/
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../img/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-color: #ebebeb;
  border: none;
}

.select-control option {
  min-height: 30px;
  max-width: 290px;
}

.select-control:hover {
  opacity: .6;
}

.select-control:focus {
  outline: 5px solid #af4fff;
}

.select-control:active {
  opacity: .3;
  outline: none;
}

.select-control:disabled {
  opacity: .2;
}

.catalog-filter-group {
  position: relative;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  border: none;
}

.catalog-filter-group::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-100%);
  height: 2px;
  width: 100%;
  background-color: #000000;
}

.catalog-filter-group:last-of-type::before {
  content: none;
}

.catalog-filter-group.price-group {
  margin-top: 84px;
  padding-bottom: 32px;
}

.catalog-filter-group.color-group {
  padding-bottom: 30px;
}

.catalog-filter-group.bt-group {
  padding-bottom: 20px;
}

.catalog-filter-group-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.price-group .catalog-filter-group-title {
  margin-bottom: 37px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item {
  margin-bottom: 10px;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: rgba(0, 0, 0, .1);
  margin-bottom: 35px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #000000;
  background-color: #ebebeb;
  cursor: pointer;
}

.toggle-min {
  left: 0;
  top: 0;
  transform: translateY(-50%);
}

.toggle-max {
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
}

.control {
  position: relative;
  display: block;
  padding-left: 37px;
}

.control-label {
  font-size: 16px;
  line-height: 19px;
}

.control-mark {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
  border-radius: 3px;
  opacity: .2;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-image: url("../img/check-mark.svg");
}

.control-input[type="checkbox"]:checked + .control-mark {
  opacity: 1;
}

.control:hover .control-input:checked + .control-mark {
  opacity: .5;
}

.control:hover .control-input:checked ~ .control-label {
  opacity: .5;
}

.control-input:focus-visible + .control-mark,
.control-input:focus-visible ~ .control-label {
  outline: none;
  opacity: 1;
  color: #af4fff;
  border-color: #af4fff;
}


.control-input:disabled + .control-mark,
.control-input:disabled ~ .control-label {
  opacity: .2;
}

.control:active {
  opacity: .2;
}

.catalog-filter-label {
  position: absolute;
  display: flex;
  max-width: 60px;
  max-height: 60px;
  overflow: auto;
  top: 15px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  opacity: 0.3;
}

.toggle-min + .catalog-filter-label {
  left: -15px;
}

.toggle-max + .catalog-filter-label {
  right: 0;
  transform: translateX(50%);
}

.catalog-filter-input {
  max-width: 40px;
  padding: 0;
  padding-left: 2px;
  flex-shrink: 1;
  font: inherit;
  text-align: left;
  border-color: transparent;
  border: none;
  background-color: inherit;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-toggle:active {
  background-color: #000000;
}

.range-toggle:active + .catalog-filter-label,
.range-toggle:active + .catalog-filter-label .catalog-filter-input {
  opacity: 1;
}

/* fallback for browsers not supporting :focus-visible */
.range-toggle:focus,
.range-toggle:focus + .catalog-filter-label,
.range-toggle:focus + .catalog-filter-label .catalog-filter-input {
  outline: none;
  background-color: #ebebeb;
  border-color: #af4fff;
  color: #af4fff;
}

/* disable mouse focus for browsers not supporting :focus-visible */
.range-toggle:not(:focus-visible) {
  outline: none;
  color: #000000;
  border: 2px solid #000000;
  background-color: #ebebeb;
}

.range-toggle:not(:focus-visible) + .catalog-filter-label,
.range-toggle:not(:focus-visible) + .catalog-filter-label .catalog-filter-input {
  outline: none;
  border-color: transparent;
  border: none;
  background-color: transparent;
  color: #000000;
}

/* keyboard focus for browsers supporting :focus-visible */
.range-toggle:focus-visible,
.range-toggle:focus-visible + .catalog-filter-label,
.range-toggle:focus-visible + .catalog-filter-label .catalog-filter-input {
  outline: none;
  background-color: #ebebeb;
  border-color: #af4fff;
  color: #af4fff;
}

.range-toggle:disabled {
  border: 2px solid rgba(166, 166, 166, 0.21);
  background-color: #efefef;
  cursor: auto;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000000;
}

.control-input[type="radio"]:checked + .control-mark,
.control-input[type="radio"]:checked ~ .control-label {
  opacity: 1;
}

.catalog-filter-button {
  width: 200px;
  padding-right: 0;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 0;
  border: none;
}

.product-card-image-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  grid-column: 1/-1;
}

.product-card-item.product-new .product-card-image-wrapper::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  right: 27px;
  top: 27px;
  background-image: url("../img/badge-new.svg");
}

.product-card-title-link {
  grid-row: 2/3;
  text-decoration: none;
  color: #000000;
  margin-top: 2px;
  margin-bottom: 2px;
}

.product-card-title {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 280px;
  margin: 0;
  background-color: inherit;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  display: inline-block;
  margin-left: auto;
  align-self: flex-start;
  margin-top: 5px;
  word-wrap: break-word;
  max-width: 80px;
}

.pagination-container {
  display: flex;
  align-items: baseline;
  background-color: #ebebeb;
  padding: 0;
  margin: 0;
  margin-bottom: 77px;
  justify-content: space-between;
}

.catalog-pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  background-color: #ebebeb;
  padding: 0;
  margin: 0;
  margin-left: 47px;
  list-style-type: none;
}

.pagination-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  line-height: 19px;
}

.pagination-text {
  display: inline-block;
}

.pagination-number {
  width: 38px;
  min-height: 38px;
  word-wrap: break-word;
  text-align: center;
  line-height: 28px;
  border: 5px solid transparent;
}

.pagination-number:hover {
  color: #000000;
}

.pagination-number:focus {
  outline: none;
  border-color: #af4fff;
}

.pagination-number:active {
  color: rgba(0, 0, 0, .1);
  border: transparent;
}

.pagination-link-prev,
.pagination-link-next {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;

  border: 5px solid rgba(0, 0, 0, 0);
  padding-top: 21px;
  padding-bottom: 20px;
  max-width: 150px;
  word-break: break-word;
}

.pagination-link-prev {
  padding-left: 24px;
  padding-right: 13px;
}

.pagination-link-next {
  padding-right: 21px;
  padding-left: 13px;
}

.pagination-link-prev:hover,
.pagination-link-next:hover {
  background-color: #dcdcdc;
}

.pagination-link-prev:focus,
.pagination-link-next:focus {
  outline: none;
  border: 5px solid #af4fff;
}

.pagination-link-prev:active,
.pagination-link-next:active {
  border: 5px solid rgba(0, 0, 0, 0);
  opacity: .3;
}

.pagination-item {
  font-size: 16px;
  line-height: 19px;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  color: rgb(68, 68, 68, 0.3);
}

.pagination-item + .pagination-item {
  margin-left: 1px;
}

.pagination-button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.pagination-prev {
  margin-right: auto;
}

.pagination-next {
  margin-left: auto;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, .9);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 46px 70px 46px;
  background-color: #ffffff;
}

.modal-shipping-request {
  width: 920px;
  min-height: 580px;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-close-button {
  position: absolute;
  top: 60px;
  right: 58px;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background: url("../img/big-cross-close.svg") center no-repeat;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: .6;
}

.modal-close-button:focus {
  outline: 5px solid #af4fff;
}

.modal-close-button:focus:not(:focus-visible) {
  outline: none;
}

.modal-close-button:focus-visible {
  outline: 5px solid #af4fff;
}

.modal-close-button:active {
  opacity: .3;
}

.modal-title {
  margin: 0;
  margin-bottom: 68px;
  margin-top: 10px;
  padding: 0;
}

/* to show validation errors append 'error' class to this class */
.shipping-request-form {
  display: grid;
  column-gap: 40px;
  row-gap: 10px;
  margin-bottom: 27px;
  grid-template-columns: 360px auto 160px;

  font-size: 16px;
  line-height: 20px;
}

.shipping-request-form-username {
  grid-column: 1/2;
}

.shipping-request-form-email {
  grid-column: 2/4;
}

.shipping-request-form-order-subject {
  grid-column: 1/3;
}

.shipping-request-form-quantity {
  grid-column: 3/4;
  position: relative;
}

.shipping-request-form-quantity .form-label {
  padding-right: 50px;
}

.button-shipping-request {
  grid-column: 1/-1;
  width: 200px;
  min-height: 40px;
  margin-top: 35px;
  border: none;
}

.button-shipping-request:disabled {
  color: #fffdfd;
  opacity: .3;
  cursor: auto;
  background-color: rgb(255, 199, 0);
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.form-label {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 14px;
}

.shipping-request-form .form-label {
  position: relative;
}

.shipping-request-form .input-text {
  height: 60px;
  padding: 0;
  padding-left: 20px;
  border: none;
  background-color: #f0f0f0;
}

.shipping-request-form .input-text:disabled {
  color: #fffdfd;
  background-color: rgba(239, 239, 239, 0.3);
}

.shipping-request-form .input-text::placeholder {
  opacity: .6;
  color: #000000;
}

.shipping-request-form-username .input-text {
  padding-right: 36px;
}

.shipping-request-form-email .input-text {
  padding-right: 38px;
}

.form-input-comment-text {
  display: none;
  top: 100%;
  left: 0;
  min-height: 30px;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;

  color: #000000;
  text-align: left;
}

.shipping-request-form-email.error .form-input-comment-text,
.shipping-request-form-username.error .form-input-comment-text {
  display: block;
  color: #ff3d3d;
}

.shipping-request-form-email .form-input-comment-text {
  display: block;
}

.form-number-input .input-text {
  padding: 0 45px;
  text-align: center;
}

.shipping-request-form-username .input-text:placeholder-shown ~ .form-input-comment-text {
  display: block;
  color: #ff3d3d;
}

.shipping-request-form-username .input-text:-ms-input-placeholder ~ .form-input-comment-text {
  display: block;
  color: #ff3d3d;
}


.shipping-request-form-input-icon {
  position: absolute;
  fill: #b3b3b3;
  bottom: -38px;
  transform: translateY(100%);
}

.shipping-request-form-username .shipping-request-form-input-icon {
  right: 21px;
}

.shipping-request-form-email .shipping-request-form-input-icon {
  right: 20px;
}

.shipping-info-icon-button-wrapper {
  position: absolute;
  width: 26px;
  height: 26px;
  right: 14px;
  top: -2px;
}

.form-info-button {
  position: absolute;
  width: 26px;
  height: 26px;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  border-radius: 50%;
  background-color: #ffe17f;
  cursor: pointer;
  font-weight: bold;
}

.form-info-button:disabled {
  color: #b2b2b2;
  background-color: rgba(255, 225, 127, 0.33);
  cursor: auto;
}

.form-info-button-popover {
  display: none;
  z-index: 1;
  width: 200px;
  min-height: 160px;
  padding: 19px;
  bottom: -10px;
  transform: translateY(100%);
  left: -160px;

  text-align: left;

  cursor: auto;
}

.form-info-button-popover.popover::before {
  left: unset;
  right: 15px;
  transform: translate(0, -100%);
}

.shipping-info-icon-button-wrapper:hover .form-info-button-popover {
  display: block;
}

.form-info-button-popover:hover,
.form-info-button-popover.popover::before:hover {
  display: block;
}

/* Chrome, Safari, Edge, Opera */
/*noinspection Stylelint*/
.input-text::-webkit-outer-spin-button,
.input-text::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/*noinspection Stylelint*/
.catalog-filter-input[type="number"],
.input-text[type="number"] {
  -moz-appearance: textfield;
}

.form-number-input {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-number-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border: 2px solid transparent;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.input-number-button:hover .button-icon {
  opacity: 1;
}

.input-number-button:hover ~ .input-text {
  background-color: #ebebeb;
}

.input-number-button:focus {
  outline: none;
  border: 2px solid #af4fff;
}

.input-number-button:focus:not(:focus-visible) {
  outline: none;
  border: 2px solid transparent;
}

.input-number-button:focus-visible {
  outline: none;
  border: 2px solid #af4fff;
}

.input-number-button:active .button-icon {
  opacity: .1;
}

.input-number-button:disabled {
  color: #fffdfd;
  background-color: rgba(239, 239, 239, 0.3);
  cursor: auto;
}

.button-minus {
  left: 11px;
}

.button-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: #000000;
  opacity: .3;
}

.shipping-request-form-quantity .button-plus {
  right: 11px;
}

.shipping-request-form input:hover {
  background-color: #ebebeb;
}

.shipping-request-form input:focus {
  outline: 5px solid #af4fff;
}

.shipping-request-form input:focus:not(:focus-visible) {
  outline: none;
}

.shipping-request-form input:focus-visible {
  outline: 5px solid #af4fff;
}

.shipping-request-form input:active {
  outline: none;
  box-shadow: inset 0 0 0 3px #000000;
  background-color: #ffffff;
}

.shipping-request-form input:not([type="number"]):not(:placeholder-shown) {
  outline: none;
  box-shadow: inset 0 0 0 3px #000000;
  background-color: #ffffff;
}

.shipping-request-form input:not([type="number"]):not(:-ms-input-placeholder) {
  outline: none;
  box-shadow: inset 0 0 0 3px #000000;
  background-color: #ffffff;
}

.shipping-request-form.error input[required] {
  box-shadow: inset 0 0 0 3px #ff3d3d;
  background-color: #ffffff;
}

.shipping-request-form.error input ~ .form-input-comment-text {
  color: #ff3d3d;
}
