@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: white;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

figure {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  font-size: 16px;
  line-height: 19px;
  color: black;
  background-color: #FFE17F;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 14px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: black;
}

.paragraph {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.product-cart-title {
  grid-column: 1/3;
  margin: 0;
  margin-bottom: 19px;
  padding-top: 123px;
}

.promoted-product-card-description {
  grid-column: 1/3;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.button-product-show-details {
  text-align: center;
  padding-top: 14px;
  padding-bottom: 16px;
  width: 220px;
}

.main-container {
  flex-grow: 1;
}

.main-inner {
  padding-top: 37px;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.page-header-inner {
  padding-bottom: 53px;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 1041px;
  margin: 0 auto;
}

.navigation-logo {
  position: relative;
  width: 145px;
  margin-bottom: 35px;
  margin-left: 1px;
}

header::before {
  content: "";
  display: block;
  width: 100%;
  height: 23px;
  background-color: #FFFFFF;
}

.logo {
  position: absolute;
  top: -23px;
}

.button-search {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  width: 160px;
  padding: 8px;
  margin: 0;
}

.input-site-search {
  flex-grow: 1;
  min-width: 140px;
  margin-left: 20px;
  padding: 0;
}

.search-icon {
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../img/lens.svg");
  background-repeat: no-repeat;
}

.menu-link-cart {
  position: relative;
}

.menu-link-cart::before {
  position: absolute;
  content: "2";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  background-color: #FFFFFF;
  border-radius: 50%;
  left: 3px;
  top: 50%;
  margin-top: -11px;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}

.main-menu-list {
  position: relative;
  left: -20px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 1082px;
  list-style-type: none;
}

.user-menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1062px;
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
  list-style-type: none;
}

.user-menu-item:first-child {
  margin-right: 10px;
}

/* Login/Logout submenu */
.user-menu-item:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 257px;
  margin-right: 14px;
}

.user-menu-item:last-child {
  text-align: right;
  margin-left: auto;
}

.main-menu-item {
  position: relative;
}

.main-menu-item:nth-child(n+2) {
  margin-right: 19px;
}

.main-menu-item:first-child {
  /*todo not clear why so. should be 287px*/
  margin-right: 261px;
}

.main-menu-item:last-child {
  margin-left: auto;
  margin-right: 0;
}

.site-search-form {
  display: flex;
  width: 500px;
  /*margin-right: 10px;*/
}

/* The attributes are taken from the parent block */
.input-text {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: inherit;
  border: none;
  /*padding: 0;*/
}

.user-menu-link {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 21px;
  border-radius: 20px;
  color: black;
  background-color: #FFE17F;
  text-decoration: none;
}

.navigation-icon {
  display: inline-block;
  margin-right: 10px;
  background-repeat: no-repeat;
}

.user-menu-link:hover {
  opacity: .6;
}

.user-menu-link:focus {
  outline: 2px solid #AF4FFF;
}

.user-menu-link:active {
  opacity: .3;
  outline: none;
}

.menu-link-login .navigation-icon {
  width: 13px;
  height: 12px;
  background-image: url("../img/user.svg");
}

.menu-link-compare .navigation-icon {
  width: 10px;
  height: 12px;
  background-image: url("../img/compare.svg");
}

.menu-link-cart .navigation-icon {
  width: 16px;
  height: 14px;
  background-image: url("../img/cart.svg");
}

.logout-link {
  opacity: .3;
}

.main-menu-link {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  color: black;
  background-color: #FFE17F;
  text-decoration: none;
}

.main-menu-item:first-child .main-menu-link::after {
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -25px;
  display: inline-block;
  content: "";
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-image: url("../img/catalog_expand_20.svg");
  background-position: center;
}

.promoted-products {
  margin-bottom: 70px;
}

.product-card-annotation {
  display: grid;
  column-gap: 200px;
  grid-template-rows: min-content min-content min-content min-content;
}

.button-services {
  padding: 0;
  border: none;
  width: 160px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.services-slider-pagination-item.item-current::before {
  content: "";
  position: absolute;
  display: block;
  /*todo seems like a workaround b/c of the background overlay =/ */
  width: 120px;
  height: 40px;
  background-color: #000000;
  top: 0;
  left: 160px;
}

.services-slider-pagination-item.item-current .navigation-link {
  background-color: #000000;
  color: #FFE17F;
  background-image: none;
}

.services-slider-pagination-item {
  position: relative;
  margin-bottom: 24px;
}

.services-slider-pagination-item:last-of-type {
  margin-bottom: 0;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: black;
  background-color: inherit;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 1;
  cursor: pointer;
}

.navigation-link:active {
  color: rgba(0, 0, 0, .3);
}

.navigation-link-light-yellow {
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 42%, #FFE17F 42%, #FFE17F 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 42%, #FFE17F 42%, #FFE17F 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 42%, #FFE17F 42%, #FFE17F 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 42%, #FFE17F 42%, #FFE17F 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
}

.navigation-link-light-yellow:hover {
  background-color: #FFE17F;
}

.navigation-link-light-yellow:focus {
  outline: none;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 42%, #AF4FFF 42%, #AF4FFF 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 42%, #AF4FFF 42%, #AF4FFF 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 42%, #AF4FFF 42%, #AF4FFF 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 42%, #AF4FFF 42%, #AF4FFF 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
}

.navigation-link-dark-yellow {
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 42%, #FFC700 42%, #FFC700 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 42%, #FFC700 42%, #FFC700 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 42%, #FFC700 42%, #FFC700 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 42%, #FFC700 42%, #FFC700 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
}

.navigation-link-dark-yellow:hover {
  background-color: #FFC700;
}

.navigation-link-dark-yellow:focus {
  outline: none;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 42%, #AF4FFF 42%, #AF4FFF 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 42%, #AF4FFF 42%, #AF4FFF 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 42%, #AF4FFF 42%, #AF4FFF 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 42%, #AF4FFF 42%, #AF4FFF 58%, rgba(255, 255, 255, 0) 58%, rgba(255, 255, 255, 0) 100%);
}

.product-feature-name {
  font-size: 16px;
  line-height: 30px;
}

.product-card-feature-value {
  grid-row: 1/2;
  margin: 0;
  font-size: 36px;
  line-height: 30px;
  color: black;
}

.services {
  min-width: 1160px;
  margin-bottom: 90px;
  padding-top: 70px;
  padding-bottom: 140px;
  background-image: -webkit-linear-gradient(top, white 100px, #F0F0F0 0);
  background-image: -moz-linear-gradient(top, white 100px, #F0F0F0 0);
  background-image: -o-linear-gradient(top, white 100px, #F0F0F0 0);
  background-image: linear-gradient(to bottom, white 100px, #F0F0F0 0);
}

.services-container {
  display: flex;
  position: relative;
}

.services-container::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 319px;
  left: 280px;
  top: -70px;
  background-color: #000000;
}

.services-container::after {
  position: absolute;
  content: "";
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery_man.svg");
  right: 64px;
  top: 14px;
}

.services-slider-pagination {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
  width: 280px;
  margin: 0;
  margin-right: 120px;
  padding: 0;
  padding-top: 10px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-list-item {
  width: 450px;
}

.services-title {
  margin: 0;
  margin-bottom: 40px;
}

.about-sections-title {
  margin: 0;
  margin-bottom: 50px;
}

.text-container {
  margin-bottom: 55px;
}

.categories {
  margin-bottom: 69px;
}

.categories-list-item-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: black;
  text-decoration: none;
}

.categories-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  column-gap: 40px;
}

.categories-figcaption {
  width: 160px;
}

.category-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  background-color: #FFE17F;
}

.about {
  margin-bottom: 87px;
}

.shipping-info {
  position: relative;
  display: flex;
  width: 1160px;
  align-items: center;
  height: 100px;
  margin-top: 0;
  margin-bottom: 97px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F0F0F0;
}

.shipping-info::before {
  content: "";
  position: absolute;
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
  background-image: url("../img/delivery_car.svg");
  background-repeat: no-repeat;
  background-size: 47px 31px;
  background-position: center;
}

.shipping-info-button {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 33px;
  top: 30px;
  border-radius: 50%;
  border: none;
  background: rgba(220, 220, 220, 0.5);
  background-image: url("../img/info_30.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.shipping-info-text {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: black;
  background-color: #F0F0F0;
  margin: 0 auto;
  padding: 0;
}

.shipping-companies-list {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: black;
  padding: 0;
  margin: 0;
  margin-left: 34px;
  margin-bottom: 75px;
  list-style-type: none;
}

.shipping-companies-item {
  position: relative;
  margin-bottom: 28px;
}

.shipping-companies-item:last-of-type {
  margin-bottom: 0;
}

.shipping-companies-item::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  left: -34px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
  background-color: #FFC700;
}

.about-info-link {
  align-self: flex-start;
  margin-top: auto;
  text-align: center;
  width: 260px;
  padding-top: 14px;
  padding-bottom: 16px;
}

.about-info-list {
  display: flex;
  padding: 50px 0 0;
  margin: 0;
  justify-content: space-between;
  list-style-type: none;
}

.about-info-text {
  margin: 0;
  margin-bottom: 30px;
}

.about-info-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 560px;
}

.about-info-item::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #000000;
  top: -42px;
  left: 0;
}

.contacts-sub-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.font-style-normal {
  font-style: normal;
}

.contacts-phone {
  text-decoration: none;
  color: inherit;
}

.about-info-schedule-table {
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.about-info-schedule-table td {
  padding: 0;
}

.newsletter {
  padding-top: 75px;
  padding-bottom: 131px;
  background-color: #F0F0F0;
  min-width: 1160px;
}

.newsletter-section {
  display: flex;
  align-items: baseline;
  margin-bottom: 53px;
}

.newsletter-section:last-child {
  margin-bottom: 0;
}

.promoted-product-image-container {
  display: flex;
}

.newsletter-title {
  width: 560px;
  margin: 0;
  margin-right: 40px;
}

.newsletter-text {
  width: 560px;
}

.newsletter-form {
  display: flex;
}

.input-email {
  width: 560px;
  margin-right: 40px;
}

.button-bordered {
  border: 3px solid rgba(0, 0, 0, 0.1);
  background: inherit;
}

.button-newsletter {
  width: 260px;
  height: 55px;
  margin-right: 171px;
}

.button-pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  width: 760px;
  color: black;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 51px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;
  padding-bottom: 18px;
}

.newsletter-note {
  background-color: inherit;
  position: relative;
}

.newsletter-note::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-image: url("../img/check_mark_big.svg");
  left: -34px;
  top: 50%;
  margin-top: -7px;
}

.footer-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 1160px;
  padding-top: 62px;
  padding-bottom: 61px;
  margin-left: auto;
  margin-right: auto;
}

.footer-container::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 7px;
  left: 0;
  bottom: 77px;
  background-color: #FFC700;
}

.footer-htmlacademy-link {
  position: absolute;
  content: "";
  width: 135px;
  height: 53px;
  right: 0;
  bottom: 64px;
}

.footer-htmlacademy-logo {
  fill: #FFC700;
  display: block;
  margin: 10px;
}

.footer-htmlacademy-link:hover .footer-htmlacademy-logo {
  fill: #FFFFFF;
}

.footer-htmlacademy-link:focus {
  border: 2px solid #AF4FFF;
  border-radius: 10px;
}

.footer-htmlacademy-link:active .footer-htmlacademy-logo {
  opacity: .3;
}

.page-footer {
  /*display: flex;*/
  min-width: 1160px;
  color: white;
  background: #444444;
}

.footer-navigation-link {
  background-color: inherit;
  color: #FFFFFF;
  text-align: center;
  padding: 5px 0;
}

.footer-address {
  width: 240px;
  font-size: 16px;
  line-height: 19px;
}

.footer-contacts-logo {
  margin-bottom: 35px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 458px;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  min-width: 620px;
  margin: 0;
  margin-bottom: 53px;
  padding: 0;
}

.footer-navigation-item {
  width: 148px;
  margin-right: 7px;
}

.footer-navigation-item:last-of-type {
  margin-right: 0;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  column-gap: 15px;
}

.social-item-link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

.social-item-link:hover {
  background-color: #FFC700;
}

.social-item-link:focus {
  outline: 5px solid #AF4FFF;
}

.social-item-link:active .social-item-icon {
  opacity: .3;
}

.social-item-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #444;
}

.social-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-phone {
  font-size: 16px;
  line-height: 30px;
  text-align: right;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  column-gap: 35px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item + .breadcrumbs-item::before {
  position: absolute;
  content: "";
  display: block;
  width: 4px;
  height: 7px;
  background-image: url("../img/right-arrow-small.svg");
  left: -17px;
  top: 50%;
  margin-top: -4px;
}

.breadcrumbs-item-link {
  font-size: 16px;
  line-height: 19px;
  color: black;
  text-decoration: none;
  opacity: 0.6;
}

.main-header-inner-container {
  margin-left: 60px;
  margin-bottom: 50px;
}

.catalog-right-column {
  grid-column: 3/4;
  grid-row: 1/3;
}

.catalog-products {
  display: grid;
  grid-template-columns: 1fr 330px 830px 1fr;
  grid-template-rows: auto 1fr;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 0;
  margin: 0;
  margin-bottom: 44px;
}

.promoted-product-card-list {
  margin: 0;
  padding: 0;
}

.slider-button {
  position: relative;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 40px;
  height: 80px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.slider-button-icon {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-button:hover .slider-button-icon {
  opacity: .6;
}

.slider-button:active .slider-button-icon {
  opacity: .3;
}

.slider-button:focus {
  border: 2px solid #AF4FFF;
  border-radius: 6px;
}

.slider-icon-prev {
  background-image: url("../img/left-tall-arrow.svg");
}

.slider-icon-next {
  background-image: url("../img/left-tall-arrow.svg");
  transform: rotate(180deg);
}

.promoted-product-card {
  display: flex;
  background-image: -webkit-linear-gradient(bottom, #FFE17F 152px, white 0);
  background-image: -moz-linear-gradient(bottom, #FFE17F 152px, white 0);
  background-image: -o-linear-gradient(bottom, #FFE17F 152px, white 0);
  background-image: linear-gradient(to bottom, #FFE17F 152px, white 0);
}

.product-card-pagination {
  display: flex;
  grid-column: 2/3;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-card {
  width: 360px;
  display: grid;
  grid-template-columns: min-content auto;
  /*todo: if fixed 380px height is not set then
   'product-card-image-link' link content is
   higher than image height. Why?*/
  grid-template-rows: 380px min-content;
  row-gap: 32px;
}

.catalog-container {
  grid-column: 3/4;
  grid-row: 2/3;
  width: 760px;
  padding-top: 70px;
  margin-left: 70px;
  background-color: #FFFFFF;
}

.product-card-features {
  display: grid;
  gap: 20px;
  grid-column: 1/3;
  grid-row: 5/6;
  justify-self: start;
  margin-left: 0;
  margin-right: 0;
  margin-top: 70px;
  margin-bottom: 40px;
  padding: 0;
}

.catalog-left-top-column {
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: #DCDCDC;
}

.catalog-left-bottom-column {
  background-color: #EBEBEB;
  grid-column: 1/2;
  grid-row: 2/-1;
}

.catalog-right-top-column {
  grid-column: 4/-1;
  grid-row: 1/2;
  background-color: #EBEBEB;
}

.catalog-filter {
  background: #EBEBEB;
  color: black;
  padding-left: 60px;
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.catalog-form-title {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  padding-left: 60px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.catalog-sorting-title {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: 0;
  margin-right: 52px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.sorting-header-container {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  background-color: #EBEBEB;
}

.catalog-sorting-type {
  display: flex;
  margin-left: 72px;
  margin-right: auto;
  background-color: #EBEBEB;
}

.button-sort {
  position: relative;
  width: 30px;
  height: 30px;
}

.sort-up {
  background-image: url("../img/sort-down.svg");
  transform: rotate(180deg);
}

.sort-down {
  background-image: url("../img/sort-down.svg");
}

.sort-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .2;
}

.button-sort.button-active .sort-icon {
  opacity: 1;
}

.button-sort:hover .sort-icon {
  opacity: .5;
}

.button-sort:active .sort-icon {
  opacity: 1;
}

.button-sort:focus {
  outline: 5px solid #AF4FFF;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  background-color: #EBEBEB;
  border: none;
}

.catalog-filter-group-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  opacity: 0.3;
}

.catalog-filter-button {
  width: 200px;
  margin-top: 50px;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 0;
  border: none;
}

.control-label {
  font-size: 16px;
  line-height: 19px;
}

.product-card-image-link {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  grid-column: 1/-1;
}

.product-card.product-badge-new .product-card-image-link::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  right: 27px;
  top: 27px;
  background-image: url("../img/badge_new.svg");
}

.product-card-image {
  object-fit: contain;
}

.product-card-title-link {
  text-decoration: none;
  color: black;
}

.product-card-title {
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: black;
  display: inline-block;
  width: 280px;
  background-color: inherit;
}

.product-card-price {
  line-height: 21px;
  text-align: right;
  display: inline-block;
  margin-left: auto;
  align-self: center;
}

.catalog-pagination {
  display: flex;
  align-items: baseline;
  background-color: #EBEBEB;
  padding: 0;
  margin: 0;
  margin-bottom: 77px;
  list-style-type: none;
}

.pagination-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  line-height: 19px;
}

.pagination-text {
  display: inline-block;
}

.pagination-number {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.pagination-link-next,
.pagination-link-prev {
  padding: 26px;
}

.pagination-item {
  font-size: 16px;
  line-height: 19px;
  font-family: "Rubik", sans-serif;
  font-weight: normal;
  color: rgb(68, 68, 68, 0.3);
}

.pagination-item + .pagination-item {
  margin-left: 10px;
}

.pagination-next,
.pagination-prev {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: black;
}

.pagination-prev {
  margin-right: auto;
}

.pagination-next {
  margin-left: auto;
}
